
*{
  margin: 0px;
  padding: 0px;
}
#t1{
  
 display: flex;
 justify-content: center;
 align-items: flex-start;
 color:#EF251F;
 /* color: red; */
 padding: 5px;
 
}
#search1{
  /* padding: 2px; */
 display: flex;
 justify-content: center;
 align-items: center;

}
#search1>input{
  width: 65%;
  height: 33px;
 border-radius: 20px;
 border: 1px solid grey;
 /*  */
font-size: 20px;
text-align: center;
}
#search1>button{
 width: 20%;
 height: 33px;
 border-radius: 20px;
 border: 1px solid grey;
 background-color: white;

}
#ad1{
  margin-top: 10px;
  /* padding: 10px; */
display: flex;
justify-content: center;
align-items: center;
width: 100%;
}
#ad1>div{
  display: flex;
  width: 90%;
  background-color: aqua;
  height: 150px;
  }
  #main{
    margin-top: 5px;
    display: flex;
    width: 100%;
    justify-content:space-evenly;
    flex-wrap: wrap;

  }
#main>div{
  width: 100%;
  margin-top:30px;
max-width: 350px;
min-height: 350px;
background-color:white;
border-radius: 20px 20px 0px 0px;
/* border: 2px solid blue; */

box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}
#main>div>:nth-child(1){
  width: 100%;
  height: 55%;
  background-color: blueviolet;
  border-radius:20px 20px 0px 0px ;
}
#main>div>:nth-child(2){
  width: 100%;
  height: 15%;
  background-color: rgb(250, 250, 252);
  display: flex;
  justify-content: space-between;
  align-items: center;

}
#main>div>:nth-child(1)>img{
 
  border-radius: 10px;
 
}
#main>div>:nth-child(2)>img{
  width: 19%;
  height: 90%;
  background-color: white;
}
/* #main>div>:nth-child(2)>img{
 
  background-color: white;
} */


/* css in created title  */

#main>div>:nth-child(3){
  width: 100%;
  height: 28%;
  /* background-color: rgb(9, 169, 223); */
}
#main>div>:nth-child(3)>:nth-child(1){
  
  width: 100%;
  height:70%;
  /* background-color: rgb(238, 70, 230); */
  display: flex;
}
#main>div>:nth-child(3)>:nth-child(1)>:nth-child(1){
  padding: 5px;
   width: 65%;
  /* height:50%; */
  /* background-color: rgb(70, 238, 238); */
}
#main>div>:nth-child(3)>:nth-child(1)>:nth-child(1)>:nth-child(1){
 /* font-size: 25px; */
  /* height:50%; */
  /* background-color: rgb(254, 255, 255); */
}
#main>div>:nth-child(3)>:nth-child(1)>:nth-child(2){
  font-size: 35px;
  font-weight: bold;
  color: #f7160f;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
 /* height:50%; */
 /* background-color: rgb(226, 241, 16); */
}



/* button */
#main>div>:nth-child(3)>:nth-child(2){
  
  width: 100%;
  height:40%;
  /* background-color: rgb(26, 194, 236); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main>div>:nth-child(3)>:nth-child(2)>:nth-child(1){
  border-radius: 5px;
font-size: 15px;
font-weight: bold;
color: black;
  width: 49%;
  height:100%;
  background-color: white;
  border: 1px solid black;
}
#main>div>:nth-child(3)>:nth-child(2)>:nth-child(2){
  border-radius: 5px;
  width: 49%;
  height:100%;
  font-size: 20px;
font-weight: bold;
color: white;
  border: none;
  background-color: rgba(6, 189, 46, 0.966);
}










