
*{
  margin: 0px;
  padding: 0px;
}
#t1{
  
 display: flex;
 justify-content: center;
 align-items: flex-start;
 color:#EF251F;
 /* color: red; */
 padding: 5px;
 
}
#search1{
  /* padding: 2px; */
 display: flex;
 justify-content: center;
 align-items: center;

}
#search1>input{
  width: 65%;
  height: 33px;
 border-radius: 20px;
 border: 1px solid grey;
 /*  */
font-size: 20px;
text-align: center;
}
#search1>button{
 width: 20%;
 height: 33px;
 border-radius: 20px;
 border: 1px solid grey;
 background-color: white;

}
#ad1{
  margin-top: 10px;
  /* padding: 10px; */
display: flex;
justify-content: center;
align-items: center;
width: 100%;
}
#ad1>div{
  display: flex;
  width: 90%;
  background-color: aqua;
  height: 150px;
  }
  #main{
    margin-top: 5px;
    display: flex;
    width: 100%;
    justify-content:space-evenly;
    flex-wrap: wrap;

  }
#main>div{
  width: 90%;
  margin: 5px;
max-width: 400px;
height: 250px;
background-color: rgb(0, 17, 255);
}
